@model InterfazGraficaMVC_SQL.Entities.Persona

@{
    ViewData["Title"] = "Eliminar Persona";
}

<h1>Eliminar Persona</h1>

<h3 class="text-danger">¿Está seguro de que desea eliminar esta persona?</h3>

<div class="alert alert-warning" role="alert">
    Esta acción no se puede deshacer.
</div>

<div class="card">
    <div class="card-header bg-danger text-white">
        <h4>Información de la Persona a Eliminar</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Edad)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Edad)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
