@model InterfazGraficaMVC_SQL.Entities.Persona

@{
    ViewData["Title"] = "Detalles de Persona";
}

<h1>Detalles de Persona</h1>

<div class="card">
    <div class="card-header bg-info text-white">
        <h4>Información de la Persona</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Edad)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Edad)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
